@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5E666F;
  font-size: inherit;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
}

h1 {
  @apply font-semibold text-2xl text-[#373F46];
}

h2 {
  @apply font-semibold text-[#373F46];
  font-size: 20px;
  line-height: 30px;
}

h3 {
  @apply font-semibold text-base text-[#373F46];
}

h4 {
  @apply font-bold text-xl;
}

p {
  @apply font-normal text-sm text-[#727A83];
}

a {
    @apply font-normal text-base text-[#5E666F];
}

td {
  @apply font-normal text-sm text-[#727A83] max-w-[64px];
}

th {
    @apply font-medium text-base text-[#373F46];
}

span {
  @apply font-normal text-sm text-[#727A83] ;
}

strong {
    @apply font-medium text-base text-[#373F46];
}

input {
  @apply  focus:outline-none focus:ring-0 border-[#F4F4F5] border-[1px] rounded-lg;
}

